<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>
        FoodGuard PRO - SPPG
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
        id="sidenav-main">
        <%- include('../../partials/sppgsidehead') %>
            <hr class="horizontal dark mt-0">
            <%- include('../../partials/sppgsidebar') %>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <!-- LI pertama: Dashboard -->
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="/dashboard">Dashboard</a>
                        </li>

                        <!-- LI kedua: halaman saat ini -->
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                            <%= pageCrumb || 'Dashboard' %>
                        </li>
                    </ol>

                    <!-- Judul halaman -->
                    <h6 class="font-weight-bolder mb-0">
                        <%= pageTitle || 'Dashboard' %>
                    </h6>
                </nav>


                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item pe-2 d-flex align-items-center">
                        <span class="badge badge-sm bg-gradient-success opacity-9">SPPG</span>
                    </li>

                    <li class="nav-item ps-5 d-flex align-items-center">
                        <span class="text-sm text-dark text-bold">
                            <%= user ? user.nama || user.email : 'Guest' %>
                        </span>
                    </li>

                    <li class="nav-item dropdown ps-2 pe-3 d-flex align-items-center">
                        <a href="#" class="nav-link text-body font-weight-bold px-0 dropdown-toggle"
                            id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar avatar-sm me-sm-1" src="/assets/img/team-2.jpg" alt="user">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item border-radius-md" href="/profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="CurrentColor">
                                        <path
                                            d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item border-radius-md" href="/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#EA3323">
                                        <path
                                            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                                    </svg>
                                    <span class="text-danger">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item d-xl-none d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">

                <% if (flash) { %>
                    <script>
                        Swal.fire({
                            icon: '<%= flash.type %>',
                            title: 'INFO',
                            text: '<%= flash.message %>',
                            timer: 2000,
                            showConfirmButton: false
                        })
                    </script>
                    <% } %>


                        <div class="col-12 mt-2">
                            <div class="row g-3" style="min-height: 500px;">
                                <% let cardColor; let description; let btncolor; let btndesc; if
                                    (peringatan.status_sistem==='nonaktif' ) { cardColor='bg-danger' ;
                                    description='Sistem sedang down, Segera Kirim Petugas' ; btncolor='btn-secondary' ;
                                    btndesc='Notifikasi Petugas' } else if (peringatan.status_sistem==='dispatched' ) {
                                    cardColor='bg-warning' ; description='Petugas sedang dikirim menuju lokasi' ;
                                    btncolor='btn-info' ; btndesc='Petugas sudah sampai' } else if
                                    (peringatan.status_sistem==='on_maintenance' ) { cardColor='bg-info' ;
                                    description='Sistem sedang dalam perbaikan' ; btncolor='btn-success' ;
                                    btndesc='Selesai Perbaikan' } else if (peringatan.status_sistem==='ready' ){
                                    cardColor='bg-success' ;
                                    description='Sistem sudah siap digunakan, menunggu laporan pihak sekolah' ;
                                    btncolor='btn-secondary' ; btndesc='Menunggu Laporan Pihak Sekolah' }else if
                                    (peringatan.status_sistem==='aktif' ){ cardColor='bg-success' ;
                                    description='Sistem Sedang Berjalan Aktif' ; btncolor='btn-secondary' ;
                                    btndesc='Tidak ada aksi yang perlu diambil' } %>

                                    <!-- Status Sistem -->
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <form form id="sistemDownForm" enctype="multipart/form-data"
                                            action="notify/<%= peringatan.id_sekolah %>" method="POST" class="h-100">
                                            <div class="card h-100">
                                                <span class="mask <%= cardColor %> opacity-10 border-radius-lg"></span>
                                                <div class="card-body p-3 position-relative ">
                                                    <div class="d-flex flex-column align-items-center h-100 w-100">
                                                        <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100"
                                                            style="width:60px; height:60px;">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                viewBox="0 -960 960 960" width="24px"
                                                                fill="CurrentColor">
                                                                <path
                                                                    d="M96-192v-92q0-25.78 12.5-47.39T143-366q54-32 114.5-49T384-432q66 0 126.5 17T625-366q22 13 34.5 34.61T672-284v92H96Zm648 0v-92q0-42-19.5-78T672-421q39 8 75.5 21.5T817-366q22 13 34.5 34.67Q864-309.65 864-284v92H744ZM384-480q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42Zm336-144q0 60-42 102t-102 42q-8 0-15-.5t-15-2.5q25-29 39.5-64.5T600-624q0-41-14.5-76.5T546-765q8-2 15-2.5t15-.5q60 0 102 42t42 102ZM168-264h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14t-99 42q-4.95 2.83-7.98 7.91-3.02 5.09-3.02 12V-264Zm216.21-288Q414-552 435-573.21t21-51Q456-654 434.79-675t-51-21Q354-696 333-674.79t-21 51Q312-594 333.21-573t51 21ZM384-264Zm0-360Z" />
                                                            </svg>
                                                        </div>
                                                        <div
                                                            class="d-flex flex-column justify-content-center align-items-center flex-grow-1 text-center w-100">
                                                            <h5
                                                                class="text-white text-uppercase font-weight-bolder mb-0 mt-2">
                                                                Status Sistem
                                                            </h5>
                                                            <h1
                                                                class="text-white text-uppercase font-weight-bolder mb-0 mt-1">
                                                                <%= peringatan.status_sistem%>
                                                            </h1>
                                                            <span class="text-white font-weight-bold mt-2">
                                                                <%= description %>
                                                            </span>
                                                        </div>
                                                        <% if (peringatan.status_sistem==='nonaktif' ) { %>
                                                            <button type="button" id="submitSistemBtn"
                                                                class="btn <%= btncolor %> mt-3 w-100 justify-content-end">
                                                                <%= btndesc %>
                                                            </button>
                                                            <% } %>
                                                    </div>
                                        </form>
                                    </div>
                            </div>
                        </div>

                        <script>
                            document.getElementById('submitSistemBtn')?.addEventListener('click', function () {
                                Swal.fire({
                                    title: 'INFO',
                                    text: 'Admin sudah diperingati',
                                    icon: 'info',
                                    timer: 2000,
                                    showConfirmButton: false
                                }).then(() => {
                                    document.getElementById('sistemDownForm').submit();
                                });
                            });
                        </script>

                        <!-- Keracunan-->
                        <% let cardColor2; let description2; let btncolor2; let btndesc2; if
                            (peringatan.kasus_keracunan==='bahaya' ) { cardColor2='bg-danger' ;
                            description2='Keracunan Telah Terjadi, Segera kirim tim medis' ; btncolor2='btn-secondary' ;
                            btndesc2='Kirim Tim Medis' } else if (peringatan.kasus_keracunan==='dispatched' ) {
                            cardColor2='bg-warning' ;
                            description2='Tim medis sedang dalam perjalanan ke lokasi masalah, apabila sudah sampai tolong klik button '
                            ; btncolor2='btn-info' ; btndesc2='Petugas Telah Sampai' } else if
                            (peringatan.kasus_keracunan==='on_treatment' ) { cardColor2='bg-info' ;
                            description2='Masalah keracunan sedang ditangani,klik button jika sudah selesai' ;
                            btncolor2='btn-success' ; btndesc2='Selesaikan Pengobatan' } else if
                            (peringatan.kasus_keracunan==='resolved' ) { cardColor2='bg-info' ;
                            description2='Masalah keracunan sudah selesai,menunggu laporan pihak sekolah' ;
                            btncolor2='btn-success' ; btndesc2='Menunggu Laporan Pihak Sekolah' }else if
                            (peringatan.kasus_keracunan==='aman' ){ cardColor2='bg-success' ;
                            description2='Tidak ada masalah keracunan' ; btncolor2='btn-secondary' ;
                            btndesc2='Tidak ada aksi yang perlu diambil' } %>

                            <div class="col-lg-6 col-md-6 col-12">
                                <form id="keracunanForm" enctype="multipart/form-data"
                                    action="sendmedical/<%= peringatan.id_sekolah %>" method="POST" class="h-100">
                                    <div class="card h-100">
                                        <span class="mask <%= cardColor2 %> opacity-10 border-radius-lg"></span>
                                        <div class="card-body p-3 position-relative ">
                                            <div class="d-flex flex-column align-items-center h-100 w-100">
                                                <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100"
                                                    style="width:60px; height:60px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                        viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                        <path
                                                            d="M599.21-96Q584-96 573.5-106.35T563-132l1-38q-25-4-47.5-13T474-206l-37.69 39.22Q425-156 410.5-156q-14.5 0-25.5-11t-11-25.67q0-14.66 11-25.33l39-39q-4-5-6.67-10.84-2.66-5.85-5.33-11.16l-28-55-48 48q-11 11-25.5 11T285-285.93q-11-10.93-11-25.5T285-337l48-48-54-26q-3.85-1.71-6.92-3.86Q269-417 266-419l-40 40q-11 11-25.5 11T175-378.93q-11-10.93-11-25.5T175-430l37-37q-17.16-21.45-27.58-45.73Q174-537 170.44-564h-38.3q-15.14 0-25.64-10.29T96-599.79q0-15.21 10.42-25.71t25.82-10.5H173q5.17-19.28 12.4-36.52 7.23-17.25 18.6-33.48l-37-37q-11-10.64-11-24.82T167-793q11-11 25.18-11T217-793l38 36q16-11 33-18t36-12v-40.76q0-15.4 10.29-25.82t25.5-10.42q15.21 0 25.71 10.25 10.5 10.26 10.5 25.41V-790q26.15 4.18 49.57 13.59Q469-767 489-752l32.77-32.77Q533-796 547.67-796q14.66 0 25.33 11 11 10.91 11 25.45 0 14.55-11.27 25.82L538-699q3 5 5.58 9.13 2.58 4.12 4.64 9.28L574-629l45-45q10.67-11 25.33-11Q659-685 670-674q11 11 11 25.67 0 14.66-11 25.33l-46 46 57 28q7 3 13 6.5t12 8.5l36.92-36.92Q754-582 768.18-582q14.18 0 24.82 11 11 10.67 11 25.33 0 14.67-10.85 25.96L757-483q14 20 22 42t11.5 45h37.63Q843-396 853-385.71q10 10.29 10 25.5t-10.28 25.71Q842.44-324 827.24-324H787q-5 19-12.5 36.5T756-254l37 37q11 10.67 11 25.33 0 14.67-11 26.15Q782-155 767.5-155T742-166l-37-37q-16 11-33 18t-36 12l-1 41q0 15.3-10.29 25.65Q614.42-96 599.21-96Zm-7.09-144Q652-240 690-285.5q38-45.5 28.36-104.82Q713-421 695.22-445.39 677.44-469.77 649-484l-65-33q-21.85-11.02-39.42-28.01Q527-562 516-584l-32-65q-17-33-47.97-52-30.98-19-68.15-19Q308-720 270-675q-38 45-28.36 104.32Q247-540 265.06-515.23 283.11-490.45 312-476l63.78 31.78Q398-433 415.37-415.42 432.73-397.85 444-376l32 65q17 33 47.97 52 30.98 19 68.15 19ZM372-528q25 0 42.5-17.5T432-588q0-25-17.5-42.5T372-648q-25 0-42.5 17.5T312-588q0 25 17.5 42.5T372-528Zm203.89 216Q596-312 610-325.89q14-13.88 14-34Q624-380 610.11-394q-13.88-14-34-14Q556-408 542-394.11q-14 13.88-14 34Q528-340 541.89-326q13.88 14 34 14ZM480-480Z" />
                                                    </svg>
                                                </div>
                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center flex-grow-1 text-center w-100">
                                                    <h5 class="text-white text-uppercase font-weight-bold mb-0 mt-2">
                                                        Kasus Keracunan
                                                    </h5>
                                                    <h1 class="text-white text-uppercase font-weight-bolder mb-0 mt-1">
                                                        <%= peringatan.kasus_keracunan%>
                                                    </h1>
                                                    <span class="text-white font-weight-bold mt-2">
                                                        <%= description2 %>
                                                    </span>
                                                </div>

                                                <% if (peringatan.kasus_keracunan==='bahaya' ||
                                                    peringatan.kasus_keracunan==='dispatched' ||
                                                    peringatan.kasus_keracunan==='on_treatment' ) { %>
                                                    <button type="button"
                                                        class="btn <%= btncolor2 %> mt-3 w-100 justify-content-end"
                                                        id="submitKeracunanBtn">
                                                        <%= btndesc2 %>
                                                    </button>
                                                    <% } %>
                                            </div>
                                </form>
                            </div>
            </div>
        </div>
        <script>
            document.getElementById('submitKeracunanBtn')?.addEventListener('click', function () {
                Swal.fire({
                    title: 'Yakin?',
                    text: 'Apakah anda yakin ingin melanjutkan? Pastikan kondisi sudah benar',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Ya, lanjutkan',
                    cancelButtonText: 'Batal'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('keracunanForm').submit();
                    }
                });
            });
        </script>
    </main>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
</body>

</html>