<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>
        FoodGuard PRO - SPPG
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
        id="sidenav-main">
        <%- include('../../partials/sppgsidehead') %>
            <hr class="horizontal dark mt-0">
            <%- include('../../partials/sppgsidebar') %>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                            <%= pageCrumb || 'Dashboard' %>
                        </li>
                    </ol>

                    <!-- Judul halaman -->
                    <h6 class="font-weight-bolder mb-0">
                        <%= pageTitle || 'Dashboard' %>
                    </h6>
                </nav>


                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item pe-2 d-flex align-items-center">
                        <span class="badge badge-sm bg-gradient-success opacity-9">SPPG</span>
                    </li>

                    <li class="nav-item ps-5 d-flex align-items-center">
                        <span class="text-sm text-dark text-bold">
                            <%= user ? user.nama || user.email : 'Guest' %>
                        </span>
                    </li>

                    <li class="nav-item dropdown ps-2 pe-3 d-flex align-items-center">
                        <a href="#" class="nav-link text-body font-weight-bold px-0" id="navbarDropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar avatar-sm me-sm-1"
                                src="<%= user.foto ? user.foto : '/assets/img/basic.png' %>" alt="user">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="CurrentColor">
                                <path d="M480-360 280-560h400L480-360Z" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item border-radius-md" href="/profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="CurrentColor">
                                        <path
                                            d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item border-radius-md" href="/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#EA3323">
                                        <path
                                            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                                    </svg>
                                    <span class="text-danger">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item d-xl-none d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="row g-3">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100 mb-4"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v120h-80v-80H520v-200H240v640h240v80H240Zm280-400Zm241 199-19-18 37 37-18-19Z" />
                                                </svg>
                                            </div>
                                            <span class="text-white text-sm">Total Laporan yang mitra anda buat</span>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalReport %>
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sistem -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-warning opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100 mb-4"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h404q-4 20-4 40t4 40H160l320 200 146-91q14 13 30.5 22.5T691-572L480-440 160-640v400h640v-324q23-5 43-14t37-22v360q0 33-23.5 56.5T800-160H160Zm0-560v480-480Zm600 80q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Z" />
                                                </svg>
                                            </div>
                                            <span class="text-white text-sm">Total Laporan anda yang belum
                                                dibaca admin</span>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalUnread %>
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--sistem maintenance -->

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-success opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100 mb-4"
                                                style=" height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M638-80 468-250l56-56 114 114 226-226 56 56L638-80ZM480-520l320-200H160l320 200Zm0 80L160-640v400h206l80 80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v174l-80 80v-174L480-440Zm0 0Zm0-80Zm0 80Z" />
                                                </svg>
                                            </div>
                                            <span class="text-white text-sm ">Total Laporan anda yang sudah
                                                dibaca admin</span>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalRead %>
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-4">
                            <h6 class="col-lg-6 font-weight-bolder text-start">
                                Laporan Mitra Anda :
                            </h6>
                        </div>

                        <div class="row g-3">
                            <% if (laporan.length===0) { %>
                                <div class="col-12 text-center">
                                    <p class="text-muted">Belum ada laporan</p>
                                </div>
                                <% } %>

                                    <% laporan.forEach(item=> {
                                        const bg = item.status_baca === 'belum dibaca'
                                        ? 'bg-warning'
                                        : 'bg-success';

                                        const icon = item.status_baca === 'belum dibaca'
                                        ? `<div
                                            class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100 mb-4"
                                            style=" height:60px;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                <path
                                                    d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h404q-4 20-4 40t4 40H160l320 200 146-91q14 13 30.5 22.5T691-572L480-440 160-640v400h640v-324q23-5 43-14t37-22v360q0 33-23.5 56.5T800-160H160Zm0-560v480-480Zm600 80q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Z" />
                                            </svg></div>`
                                        : `<div
                                            class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100 mb-4"
                                            style=" height:60px;"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                <path
                                                    d="M638-80 468-250l56-56 114 114 226-226 56 56L638-80ZM480-520l320-200H160l320 200Zm0 80L160-640v400h206l80 80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v174l-80 80v-174L480-440Zm0 0Zm0-80Zm0 80Z" />
                                            </svg></div>`;
                                        %>


                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="card <%= bg %>" style="min-height: 350px;">
                                                <div class="card-body text-center">
                                                    <%- icon %>
                                                        <h5 class="text-white font-weight-bolder mb-2">
                                                            Judul : <%= item.judul_laporan || 'Tanpa Judul' %>
                                                        </h5>

                                                        <p class="text-sm text-white font-weight-bold mb-3">
                                                            <%= item.sekolah?.nama_sekolah || 'Tidak diketahui' %>
                                                        </p>

                                                        <span
                                                            class="badge <%= item.status_laporan === 'urgent' ? 'bg-danger' : 'bg-success' %> mb-3">
                                                            <%= item.status_laporan %>
                                                        </span>
                                                        <a href="/user/sppg/laporan/baca/<%= item.id_laporan %>"
                                                            class="btn btn-secondary w-100">
                                                            Baca
                                                            Laporan </a>
                                                </div>
                                            </div>
                                        </div>

                                        <% }) %>
                        </div>


                        <footer class="sticky-bottom footer pt-3  ">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-lg-between">
                                    <div class="col-lg-6 mb-lg-0 mb-4">
                                        <div class="copyright text-center text-sm text-muted text-lg-start">
                                            ©
                                            <script>
                                                document.write(new Date().getFullYear())
                                            </script>,
                                            Irostech
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>

                    </div>
    </main>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
</body>

</html>