<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        FoodGuard PRO - Sekolah
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
        id="sidenav-main">
        <%- include('../../partials/sppgsidehead') %>
            <hr class="horizontal dark mt-0">
            <%- include('../../partials/sppgsidebar') %>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <!-- LI pertama: Dashboard -->
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="/dashboard">Dashboard</a>
                        </li>

                        <!-- LI kedua: halaman saat ini -->
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                            <%= pageCrumb || 'Dashboard' %>
                        </li>
                    </ol>

                    <!-- Judul halaman -->
                    <h6 class="font-weight-bolder mb-0">
                        <%= pageTitle || 'Dashboard' %>
                    </h6>
                </nav>


                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item pe-2 d-flex align-items-center">
                        <span class="badge badge-sm bg-gradient-success opacity-9">Sekolah</span>
                    </li>

                    <li class="nav-item ps-5 d-flex align-items-center">
                        <span class="text-sm text-dark text-bold">
                            <%= user ? user.nama || user.email : 'Guest' %>
                        </span>
                    </li>

                    <li class="nav-item dropdown ps-2 pe-3 d-flex align-items-center">
                        <a href="#" class="nav-link text-body font-weight-bold px-0 dropdown-toggle"
                            id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar avatar-sm me-sm-1" src="/assets/img/team-2.jpg" alt="user">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item border-radius-md" href="/profile">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="CurrentColor">
                                        <path
                                            d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z" />
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item border-radius-md" href="/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#EA3323">
                                        <path
                                            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                                    </svg>
                                    <span class="text-danger">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item d-xl-none d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <div class="row g-3">
                        <!-- Sistem -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="card">
                                <span
                                    class="mask <%= TotalMasalahSistem> 0 ? 'bg-danger' : 'bg-success' %> opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M40-120v-80h880v80H40Zm120-120q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v440q0 33-23.5 56.5T800-240H160Zm0-80h640v-440H160v440Zm0 0v-440 440Zm216-60 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Z" />
                                                </svg>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalMasalahSistem %>
                                            </h5>
                                            <span class="text-white text-sm">Total Masalah Sistem Saat ini</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Keracunan -->

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-warning opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M686-132 444-376q-20 8-40.5 12t-43.5 4q-100 0-170-70t-70-170q0-36 10-68.5t28-61.5l146 146 72-72-146-146q29-18 61.5-28t68.5-10q100 0 170 70t70 170q0 23-4 43.5T584-516l244 242q12 12 12 29t-12 29l-84 84q-12 12-29 12t-29-12Zm29-85 27-27-256-256q18-20 26-46.5t8-53.5q0-60-38.5-104.5T386-758l74 74q12 12 12 28t-12 28L332-500q-12 12-28 12t-28-12l-74-74q9 57 53.5 95.5T360-440q26 0 52-8t47-25l256 256ZM472-488Z" />
                                                </svg>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalMaintenanceSistem %>
                                            </h5>
                                            <span class="text-white text-sm">Sistem Yang Sedang
                                                Diperbaiki</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Keracunan -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="card">
                                <span
                                    class="mask <%= TotalKasusKeracunan> 0 ? 'bg-danger' : 'bg-success' %> opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M87-556q26-140 135.5-232T480-880q74 0 139.5 24T737-788q-14 26-22.5 44.5T703-709q-44-42-101-66.5T480-800q-101 0-181 56.5T183-599q-27-1-52.5 10T87-556ZM480-80q-148 0-257.5-92T87-404q17 22 42.5 33.5T183-360q36 88 116 144t181 56q133 0 226.5-93.5T800-480q0-17-1.5-34t-5.5-34q11 4 22.5 6t24.5 2q9 0 18-1t17-3q2 16 3.5 31.5T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80ZM336-496l84-84-85-85-42 42 43 42-43 43 43 42Zm504-104q-33 0-56.5-23.5T760-680q0-27 15-57.5T840-840q50 72 65 102.5t15 57.5q0 33-23.5 56.5T840-600ZM625-495l43-43-43-43 42-42-42-42-85 85 85 85Zm-145 75q-26 0-50.5 6T383-397l-143-83q0-16-8-30t-22-22q-22-12-45.5-5.5T128-510q-12 22-5.5 45.5T150-428q14 8 30 8t30-8l119 69q-17 17-30.5 36.5T276-280h66q21-36 57-58t81-22q45 0 81 22t57 58h66q-24-62-78.5-101T480-420Zm0-60Z" />
                                                </svg>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalKasusKeracunan %>
                                            </h5>
                                            <span class="text-white text-sm">Total Kasus Keracunan saat
                                                ini</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Sistem -->
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-info opacity-10 border-radius-lg "></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center"
                                                style="width:60px; height:60px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                    viewBox="0 -960 960 960" width="24px" fill="CurrentColor">
                                                    <path
                                                        d="M440-800v-160h80v160h-80Zm-177 57L143-863l57-57 120 120-57 57ZM160-40q-17 0-28.5-11.5T120-80v-320l84-240q6-18 21.5-29t34.5-11h100v-80h131q-24 34-37.5 74.5T440-600H274l-59 160h276q17 24 38 44.5t47 35.5H200v160h560v-123q21-3 41-9t39-15v267q0 17-11.5 28.5T800-40h-40q-17 0-28.5-11.5T720-80v-40H240v40q0 17-11.5 28.5T200-40h-40Zm80-200h120q17 0 28.5-11.5T400-280q0-17-11.5-28.5T360-320H240v80Zm480 0v-80H600q-17 0-28.5 11.5T560-280q0 17 11.5 28.5T600-240h120ZM200-360v160-160Zm491-150 139-138-42-42-97 95-39-39-42 43 81 81Zm29-290q83 0 141.5 58.5T920-600q0 83-58.5 141.5T720-400q-83 0-141.5-58.5T520-600q0-83 58.5-141.5T720-800Z" />
                                                </svg>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                <%= TotalMaintenanceKeracunan %>
                                            </h5>
                                            <span class="text-white text-sm">Keracunan Yang Sedang
                                                Ditangani</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-4">
                        <h6 class="col-lg-6 font-weight-bolder text-start">
                            Mitra anda yang mengalami masalah:
                        </h6>
                    </div>


                    <div class="col-lg-12 col-12">
                        <div class="row g-3">
                            <% data.forEach(function(item) { const statusBermasalah=item.status_sistem !=='aktif' ;
                                const kasusBermasalah=item.kasus_keracunan !=='aman' ; if (!statusBermasalah &&
                                !kasusBermasalah) return; const statusClass=item.status_sistem==='nonaktif'
                                ? 'text-danger' : 'text-warning' ; const kasusClass=item.kasus_keracunan==='bahaya'
                                ? 'text-danger' : 'text-warning' ; %>
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="card">
                                        <span class="mask bg-danger opacity-10 border-radius-lg"></span>
                                        <div class="card-body p-3 position-relative">
                                            <div class="row">
                                                <div class="col-12 text-start">

                                                    <div class="icon icon-shape bg-white shadow text-center border-radius-2xl d-flex align-items-center justify-content-center w-100"
                                                        style="height:80px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="36px"
                                                            viewBox="0 -960 960 960" width="36px" fill="#EA3323">
                                                            <path
                                                                d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" />
                                                        </svg>
                                                    </div>

                                                    <div class="card d-flex flex-column bg-white justify-content-center align-items-center text-center w-100 mt-3"
                                                        style="min-height: 150px;">

                                                        <h5 class="text-dark font-weight-bolder mb-3 mt-3">
                                                            <%= item.nama_sekolah %>
                                                        </h5>

                                                        <% if (kasusBermasalah) { %>
                                                            <h5
                                                                class="text-sm text-uppercase font-weight-bolder mb-2 <%= kasusClass %>">
                                                                Kasus Keracunan : <%= item.kasus_keracunan %>
                                                            </h5>
                                                            <% } %>

                                                                <% if (statusBermasalah) { %>
                                                                    <h5
                                                                        class="text-sm text-uppercase font-weight-bolder mb-4 <%= statusClass %>">
                                                                        Status Sistem : <%= item.status_sistem %>
                                                                    </h5>
                                                                    <% } %>
                                                    </div>

                                                    <a href="peringatan/<%= item.id_sekolah %>"
                                                        class="btn btn-secondary mt-3 w-100">
                                                        Lihat Detail
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
    </main>

    </div>

    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
</body>

</html>